var filters = {
    toFix: function (value) {
        if (value == undefined) return ''
        value = parseFloat(value)
        return value.toFixed(2) //此处2为保留两位小数
    },
    num: function (value) {
        return parseInt(value);
    },
    multi: function (value1, value2) {
        var a = parseFloat(value1);
        var b = parseFloat(value2);
        var c = a * b
        return parseFloat(c.toFixed(2))
    },
    chu: function (value) {
        var a = parseFloat(value);
        var b = parseFloat(a / 100);
        return b
    },
    specTypeName: function (type) {
        var typeStr = '';
        switch (type) {
            case 0:
                typeStr = '单规格';
                break;
            case 1:
                typeStr = '多配多规格';
                break;
            case 2:
                typeStr = '多计量多做法';
                break;
            case 3:
                typeStr = '计件多做法';
                break;
            case 4:
                typeStr = '单规格';
                break;
            case 5:
                typeStr = '称重单规格';
                break;
            case 6:
                typeStr = '称重多规格';
                break;
            case 7:
                typeStr = '临时菜';
                break;
            case 8:
                typeStr = '来料加工';
                break;
            case 9:
                typeStr = '选拼菜品(份数)';
                break;
            case 10:
                typeStr = '多规格多做法';
                break;
            case 21:
                typeStr = '酒水用品[单]';
                break;
            case 22:
                typeStr = '酒水用品[多]';
                break;
            case 23:
                typeStr = '配料调味[单]';
                break;
            case 24:
                typeStr = '配料调味[多]';
                break;
            case 25:
                typeStr = '按位上菜';
                // typeStr = '米饭';
                break;
            case 26:
                typeStr = '茶位';
                break;
            case 27:
                typeStr = '套餐';
                break;
            case 100:
                typeStr = '套餐';
                break;
            case 101:
                typeStr = '菜品';
                break;
            case 91:
                typeStr = '选拼菜品(食材)';
                break;
            case 210:
                typeStr = '普通套餐';
                break;
            case 211:
                typeStr = '超值套餐';
                break;
            case 220:
                typeStr = '超值菜品';
                break;
        }
        return typeStr;
    }
}
module.exports = {
    toFix: filters.toFix,
    num: filters.num,
    chu: filters.chu,
    multi: filters.multi,
    specTypeName: filters.specTypeName
}